body {background-color: bisque;
}

.wrapper {
    margin: 1px;
    border: 1px solid blue;
    position: absolute;
    width: 50%;

}

.flag{
    height: 400px;
    width: 25%;
    background-color: green;
    float: left;
}

.flag01{
    height: 400px;
    width: 25%;
    background-color: white;
    float: left;
}

.flag02{
    height: 400px;
    width: 25%;
    background-color: darkorange;
    float: left; 
    
}

.wrapper01{
    margin: 1px;
    border: 1px solid blue;
    position: absolute;
    width: 50%;
    margin-top: 600px;
    
}

.wolf{
    height: 500px;
    width: 100%;
    background-color: darkblue;
    float: left;
    position: relative;
}

.contenitore{
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.moon{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 3.5rem 3rem 0 0 #ffd700;
}